* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat';
}

nav {
 
    color: #7177F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    max-width: 100%;
    margin: auto;
    z-index: 0;

}

nav .mainMenu {
    display: flex;
    list-style: none;
    align-items: center;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 18px;
    transition: 0.2s ease;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
}

.Orderbutton {
    width: 190px;
    height: 40px;
    background-color: #7177F1;
    border: none;
    color: #FFFFFF;
    font-size: 22px;
    border-radius: 8px;
}

.mainMenu li a {
    color: #7177F1;
}

.textWorks {
    margin-left: 1.5rem;
}

.phoneicon {
    margin-left: 2.5rem;
}

@media (max-width: 800px) {
    .textWorks {
        margin-left: 0rem;
    }

    .phoneicon {
        margin-left: 0rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav .mainMenu {
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        transition: top 1s ease 0s;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}